<!doctype html>
<html ng-app="App">
    <head>
    <meta charset="utf-8">
    <title>Mercados</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/cambio.js"></script> 
    </head>
    <body>
        <section class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                <h1>DASH</h1>
            </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <div class="well" style="heigth:500px">
                    <!-- TradingView Widget BEGIN -->
                    <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
                    <script type="text/javascript">
                    new TradingView.widget({
                      "autosize": true,
                      "symbol": "FX:SPX500",
                      "interval": "D",
                      "timezone": "Etc/UTC",
                      "theme": "White",
                      "style": "1",
                      "locale": "en",
                      "toolbar_bg": "#f1f3f6",
                      "allow_symbol_change": true,
                      "hideideas": true,
                      "show_popup_button": true,
                      "popup_width": "1000",
                      "popup_height": "650",
                      "no_referral_id": true
                    });
                    </script>
                    <!-- TradingView Widget END -->
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="well">
                    <form>
                        <fieldset>
                            <legend>Compra</legend>
                            <label>Preço</label>
                            <input class="form-control">
                            <label>Quantidade</label>
                            <input class="form-control">
                            <label>Total</label>
                            <input class="form-control">
                            <button class="btn btn-default">
                                ok
                            </button>
                        </fieldset>
                    </form>
                </div>
                </div>
                <div class="col-md-6">
                <div class="well">
                    <form>
                        <fieldset>
                            <legend>Venda</legend>
                            <label>Preço</label>
                            <input class="form-control">
                            <label>Quantidade</label>
                            <input class="form-control">
                            <label>Total</label>
                            <input class="form-control">
                            <button class="btn btn-default">
                                ok
                            </button>
                        </fieldset>
                    </form>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <div class="well">
                    <table class="table table-bordered table-striped" ng-controller="VendasController">
                        <caption>Venda</caption>
                        <thead>
                            <tr>
                                <th>Preço</th>
                                <th>Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="venda in vendas">
                                <td>{{venda.preco}}</td>
                                <td>{{venda.quantidade}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                <div class="col-md-6">
                <div class=" well">
                    <table class="table table-bordered table-striped" ng-controller="ComprasController">
                        <caption>Compra</caption>
                        <thead>
                            <tr>
                                <th>Preço</th>
                                <th>Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="compra in compras">
                                <td>{{compra.preco}}</td>
                                <td>{{compra.quantidade}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </section>
    </body>
</html>
