<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        <h1>DASH</h1>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <div class="well" style="heigth:500px">
            <!-- TradingView Widget BEGIN -->
            <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
            <script type="text/javascript">
            new TradingView.widget({
              "autosize": true,
              "symbol": "FX:SPX500",
              "interval": "D",
              "timezone": "Etc/UTC",
              "theme": "White",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "allow_symbol_change": true,
              "hideideas": true,
              "show_popup_button": true,
              "popup_width": "1000",
              "popup_height": "650",
              "no_referral_id": true
            });
            </script>
            <!-- TradingView Widget END -->
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="well">
            <form>
                <fieldset>
                    <legend>Compra</legend>
                    <label>Preço</label>
                    <input class="form-control">
                    <label>Quantidade</label>
                    <input class="form-control">
                    <label>Total</label>
                    <input class="form-control">
                    <button class="btn btn-default">
                        ok
                    </button>
                </fieldset>
            </form>
        </div>
        </div>
        <div class="col-md-6">
        <div class="well">
            <form>
                <fieldset>
                    <legend>Venda</legend>
                    <label>Preço</label>
                    <input class="form-control">
                    <label>Quantidade</label>
                    <input class="form-control">
                    <label>Total</label>
                    <input class="form-control">
                    <button class="btn btn-default">
                        ok
                    </button>
                </fieldset>
            </form>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        <div class="well">
            <table class="table table-bordered table-striped" ng-controller="VendasController">
                <caption>Venda</caption>
                <thead>
                    <tr>
                        <th>Preço</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="venda in vendas">
                        <td>{{venda.preco}}</td>
                        <td>{{venda.quantidade}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="col-md-6">
        <div class=" well">
            <table class="table table-bordered table-striped" ng-controller="ComprasController">
                <caption>Compra</caption>
                <thead>
                    <tr>
                        <th>Preço</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="compra in compras">
                        <td>{{compra.preco}}</td>
                        <td>{{compra.quantidade}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</section>
